* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container{
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.container-n2{
    max-width: 1470px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

:root{
    --orange: orange;
    --bg:  #111827;
    --white: #FFFFFF;
    --whitish: #E5E7EB;
    --grey: #F9FAFB;
    --gradient__button: linear-gradient(90.35deg, #2563EB 0.36%, #D946EF 201.02%);
    --gradient__vr:  linear-gradient(89.83deg, #2563EB 0.11%, #D946EF 58.65%);
    --purple: #cf38e6;
    --blue: #87CEEB;
    --bg__service: linear-gradient(268.12deg, rgba(254, 254, 255, 0.032) -11.04%, rgba(255, 255, 255, 0.018) 104.89%);
    --bg__news: linear-gradient(180deg, rgba(254, 254, 255, 0.0145) 0%, rgba(255, 255, 255, 0.02) 100%);
    --DM: 'DM', sans-serif;
    --DB: 'DB', sans-serif;
    --DR: 'DR', sans-serif;
    --RR: 'RR', sans-serif;
    --RM: 'RM', sans-serif;
}

body{
    background: var(--bg);
    color: var(--white);
    font-family: var(--DM);
    position: relative;
}